<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Followers</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dashboard.css') }}">

  <!--Box Icons-->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>

    <nav class="main-menu">
      <ul>





        <li>
          <a href="#">
            <i class='fa fa-2x bx bxs-virus'></i>
            <span class="nav-text" >
              Virus
            </span>
          </a>

        </li>





        <li>
          <a href="#">
            <span class="nav-text" >
              <i class='fa fa-2x bx bxs-chart'></i>
              Chart
            </span>
          </a>

        </li>





        <li>
          <a href="#">
            <span class="nav-text" >
              <i class='fa fa-2x bx bx-code-alt'></i>
              Dev
            </span>
          </a>

        </li>

      </ul>

    </nav>

  <script type="text/javascript">
    console.log('javascript test');
  </script>




  </body>
</html>
